#{extends 'main.html' /}
#{set title:'Dashboard' /}

<script src="@{'public/javascripts/jquery.js'}"></script>
<script src="@{'public/javascripts/bootstrap.js'}"></script>

#{if frontPlayer}
    
    #{playerdisplay1 player:frontPlayer, as:'full' /}
    
    #{if otherPlayers.size()}
    
        <div class="older-posts">
            <h3>Other players <span class="from">under this coach</span></h3>
        
            #{list items:otherPlayers, as:'otherPlayer'}
                #{playerdisplay1 player:otherPlayer, as:'summary' /}
            #{/list}
        </div>
        
    #{/if}
    
#{/if}
 
#{else}
    <div class="empty">
        There is currently nothing to show here.
    </div>
#{/else}

<div class="footer login-footer">
		<div class="footer-top">
			<a href="#"> nameLess App v${play.Play.configuration.getProperty("app.version", "1.2")}</a>
		</div>
		<div class="footer-bottom">
			<a href="http://www.orreco.com/" target="_blank">&copy; ${org.joda.time.DateTime.now().year().getAsText()} ORRECO</a>
		</div>
	</div>
</div>


<!-- 
    
#{if players}
    <div class="older-posts">    
        <h3>Your <span class="from">players</span></h3>
    
        #{list items:players, as:'player'}
            <div class="post">
                <h2 class="post-title">
                    <a href="#">${player.playername}</a>
                </h2>
                <div class="post-metadata">
                    <span class="post-author">
                        # ${player.playernumber}
                    </span>
                    <span class="post-author">
                        # ${player.coach.fullname}
                    </span>
                    <span class="post-date">
                        since ${player.dateadded.format('dd MMM yy')}
                    </span>
                    <div class="post-comments">
                        ${player.gpsdata.size() ?: 'no'} 
                        datapoint${player.gpsdata.size().pluralize()} :
                        #{if player.gpsdata}
                            - latest at ${player.gpsdata[-1].dataDate.format('dd MMM')}
                        #{/if}
                    </div>
                </div>
            </div>
        #{/list}
    </div>
    
#{/if}

 
#{else}
    <div class="empty">
        There is currently nothing to show here.
    </div>
#{/else}

 -->