#{extends 'main.html' /} #{set title:'New_Dashboard' /}

<!-- insert the standard nav bar -->
#{navigationbar client:client, active:active, categories:categories/}


<div class="container-fluid">

	        <div>
				#{list items:categories, as:'cat'}
					#{if category.equals(cat.name)}
	           			<a href="@{Application.myindex(player.playernumber, cat.name)}" class="badge active" style="background-color: white;"><span class="badge" style=" color: #337ab7; background-color:yellow;">${cat}</span></a>
	       			#{/if}
	       			#{else}
	       				<a href="@{Application.myindex(player.playernumber, cat.name)}" class="badge" style="background-color: white;"><span class="badge" style=" color: #337ab7; background-color: white;">${cat}</span></a>
	       			#{/else}
       			#{/list}
			</div>

<div class="row">
	  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><p class="text-center">
	  
	  <div class="btn-group btn-group-justified">
	   				
	   #{if players.size() > 5}				
	   				<a href="@{Application.myindex(players[(playerIndex - 4) % players.size()].playernumber, category)}" class="btn btn-default"  class="thumbnail" style="margin-bottom: 0px; border:none;">
						<div >
					
						</div>
						<div class="text-nowrap" style="text-align: center;">
							<<
						</div>
					</a>
		#{/if}
	  #{if players.size() > 5}
	  #{player_icon_small player:players[(playerIndex - 3) % players.size()], category:category/}
	  #{/if}
	  #{if players.size() > 3}
	  #{player_icon_small player:players[(playerIndex - 2) % players.size()], category:category/}
	  #{/if}
	  #{if players.size() > 1}
	  #{player_icon_small player:players[(playerIndex - 1) % players.size()], category:category/}
	  #{/if}		
	  </div>
	  </div>
	  
	  
	  
	  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><p class="text-center"></p>
	  			<h4 style="margin-bottom: 5px; margin-top:5px;">
					<a href="@{Application.myindex(player.playernumber, category)}" class="thumbnail" style="margin-bottom: 0px;">
						<div >
						#{if player.playerPhoto.exists()}
						<img class="img-responsive" src="@{Application.playerPhoto(player.id)}" alt="" style="margin: 0 auto; max-width:150px;height:150px"/>
						#{/if}
						#{else}
						<img class="img-responsive" src="@{'public/images/player-headshot.png'}" alt=${player.playername} style="margin: 0 auto; max-width:150px;height:150px"/>
						#{/else}
						
						</div>
						<div class="text-nowrap" style="text-align: center;">
							${player.playername}
							
						</div>
						
					</a>
					<div class="text-center">
					#{list items:player.categories, as:'cat'}
						#{if category.equals(cat.name)}
		           			<a href="@{Application.myindex(player.playernumber, cat.name)}" class="badge active" style="background-color: white;"><span class="badge" style=" color: #337ab7; background-color:yellow;">${cat}</span></a>
		       			#{/if}
		       			#{else}
		       				<a href="@{Application.myindex(player.playernumber, cat.name)}" class="badge" style="background-color: white;"><span class="badge" style=" color: #337ab7; background-color: white;">${cat}</span></a>
		       			#{/else}
	       			#{/list}
				</div>
				</h4>
				
	  </div>
	  
	  
	  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><p class="text-center"></p>
	 
	 	<div class="btn-group btn-group-justified">
	 		
	#{if players.size() > 2}
	#{player_icon_small player:players[(playerIndex + 1) % players.size()], category:category/}
	#{/if}
	#{if players.size() > 4}
	#{player_icon_small player:players[(playerIndex + 2) % players.size()], category:category/}
	#{/if}
	#{if players.size() > 6}
	#{player_icon_small player:players[(playerIndex + 3) % players.size()], category:category/}
	#{/if}
	#{if players.size() > 6}
	<a href="@{Application.myindex(players[(playerIndex + 4) % players.size()].playernumber, category)}" class="btn btn-default" class="thumbnail" style="margin-bottom: 0px;  border:none;">
						
			<div class="text-nowrap" style="text-align: center;">
				>>
				
			</div>
						
	</a>
	#{/if}
	 	</div>
	 	
	  </div>
	</div>
	
	</div>
	
	<!-- the panel below the pagination carousel -->
	
	
<style> 

body {
	font:12px Arial;
}

path {
	stroke: steelblue;

	/* the width of the plotted line */
	/* stroke-width: 0.1; */

	fill: lightblue;
}

.area {
	fill : lightblue;
	stroke-width: 0;
}


.axis path, 
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 2;
	shape-rendering: crispEdges;
}

/* the styling of the grid lines on the graph */
.grid .tick {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}
.grid path {
   	stroke-width: 0;
}

.legend {
	font-size: 16px;         
	font-weight: bold;         
	text-anchor: start;
	stroke-width: 2;
	shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}


</style>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div id="chart" class="chart"></div>
		</div>
	</div>
	
</div>


<script>

// set the dimensions of the canvas / graph
var margin = {top: 30, right: 20, bottom: 100, left: 50};

//var	width = 1200 - margin.left - margin.right;
var width = parseInt(d3.select('#chart').style('width'), 10);
	width = width - margin.left - margin.right;


var	height = 650 - margin.top - margin.bottom;


// function to parse the date time
var parseDate = d3.time.format("%Y%m%d").parse;

// set the ranges
var xScale = d3.time.scale().range([0, width]);
var y = d3.scale.linear().range([height, 0]);



// define the axes
var xAxis = d3.svg.axis().scale(xScale)
	.orient("bottom").ticks(8).tickFormat(d3.time.format("%b-%d"));
	
var yAxis = d3.svg.axis().scale(y)
	.orient("left").ticks(5);
	

// define the lines
var playerloadline = d3.svg.line()
	.interpolate("cardinal")
	//.defined(function(d) {return d.T_PLAYER_LOAD != ""; })
	.x(function(d) { return xScale(d.date); })
	.y(function(d) { return y(d.T_PLAYER_LOAD); });

var acuteloadline = d3.svg.line()
	.interpolate("basis")
	//.defined(function(d) {return d.T_PLAYER_LOAD != ""; })
	.x(function(d) { return xScale(d.date); })
	.y(function(d) { return y(d.ACUTE_LOAD); });
	
var chronicloadarea = d3.svg.area()
	.interpolate("basis")
	.x(function(d) { return xScale(d.date); })
	.y0(height)
	.y1(function(d) { return y(d.CHRONIC_LOAD); });
	
var accdecloadline = d3.svg.line()
	.interpolate("basis")
	.x(function(d) { return xScale(d.date); })
	.y(function(d) { return y(d.T_ACC_DEC_LOAD); });
	
var rpescoreline = d3.svg.line()
	.interpolate("basis")
	.x(function(d) { return xScale(d.date); })
	.y(function(d) { return y(d.pExertion); });

var sleepline = d3.svg.line()
	.interpolate("basis")
	.x(function(d) { return xScale(d.date); })
	.y(function(d) { return y(d.sleep); });
	
 var musclesorenessline = d3.svg.line()
 	.interpolate("basis")
 	.x(function(d) { return xScale(d.date); })
 	.y(function(d) { return y(d.muscleSoreness); });
 
 var heartrateline = d3.svg.line()
	.interpolate("basis")
	.x(function(d) { return xScale(d.date); })
	.y(function(d) { return y(d.T_HEART_RATE_EXERTION); });
 
 
 
// Adds the svg canvas
var svg = d3.select('#chart').classed('chart', true)
	.append("svg")
		.attr("width", width + margin.left + margin.right)
		.attr("height", height + margin.top + margin.bottom)
		.style("background-color", "#F5F1F1")
	.append("g")
		.attr("transform", "translate(" + margin.left + ", " + margin.top + ")");
		
// the innersvg prevents data being plotted outside the graph area - same as clipping rect
var innersvg = svg.append("svg")
	.attr("width", width)
	.attr("height", height);


// function to draw the horizontal gridlines
function make_gridline() {		
    return d3.svg.axis()
        .scale(y)
        .orient("left")
        .ticks(5)
}


//var buttons = ["A:C WEEK LOAD", "ACC/DEC", "RPE SCORES", "SLEEP", "MUSCLE SORENESS", "HR"];
// Get the data
var dataset = d3.csv("@{Application.getCSV(player.playernumber)}", function(error, data) {
	data.forEach(function(d) {
		d.date = parseDate(d.date);
		d.T_PLAYER_LOAD = +(d.T_PLAYER_LOAD / 100);//**************note scaling of large number
		d.T_ACC_DEC_LOAD = +(d.T_ACC_DEC_LOAD / 100);
		d.pExertion = +d.pExertion;
		d.sleep = +d.sleep;
		d.muscleSoreness = +d.muscleSoreness;
		d.T_HEART_RATE_EXERTION = +(d.T_HEART_RATE_EXERTION / 10);
		d.ACUTE_LOAD = +(d.ACUTE_LOAD/100);
		d.CHRONIC_LOAD = +(d.CHRONIC_LOAD/100);
	});
	

	// set the scales for the range of the data
	// the x domain is the extents of the date
	//xScale.domain(d3.extent(data, function(d) { return d.date; }));
	
	// by default showing last 28 days of data
	var daysShown = 28;
	xScale.domain([data[data.length - daysShown -1].date,
	               data[data.length -1].date
	               ]);
	// the y domain starts at 0 and ends at the max value found for sleep or muscle soreness
	y.domain([0, d3.max(data, function(d) {
		return Math.max(d.T_ACC_DEC_LOAD, d.T_PLAYER_LOAD, d.ACUTE_LOAD, d.CHRONIC_LOAD, d.pExertion, d.sleep, d.muscleSoreness); })]);
	
	// add the x axis
	svg.append("g")
		.attr("class", "x axis")
		.attr("id", "xaxis")
		.attr("transform", "translate(0," + height + ")")
		.call(xAxis);
	
	
	draw_chart();
	
	function draw_chart() {
		
		// add the chronic load path line
		innersvg.append("path")
		.attr("class", "area")
		// assigning a unique id attribute
		.attr("id", "ChronicLoad")
		// setting the stroke width on the fly
		.attr("stroke-width", 1)
		.attr("stroke", "lightblue")
		.style("fill", "lightblue")
		.style("opacity",1)
		.attr("d", chronicloadarea(data));
		
		
		// add the player load path line
		innersvg.append("path")
		.attr("class", "line")
		// assigning a unique id attribute
		.attr("id", "PlayerLoad")
		// setting the stroke width on the fly
		.attr("stroke-width", 1)
		.style("stroke", "purple")
		.style("fill", "none")
		.attr("d", playerloadline(data));
		
		// add the acute load path line
		innersvg.append("path")
		.attr("class", "line")
		// assigning a unique id attribute
		.attr("id", "ACLoad")
		// setting the stroke width on the fly
		.attr("stroke-width", 1)
		.style("stroke", "red")
		.style("fill", "none")
		.attr("d", acuteloadline(data));
	
		
		// add the acc/dec load path line
		innersvg.append("path")
		.attr("class", "line")
		// assigning a unique id attribute
		.attr("id", "ACCDECLoad")
		// setting the stroke width on the fly
		.attr("stroke-width", 1)
		.style("stroke", "blue")
		.style("fill", "none")
		.attr("d", accdecloadline(data));
		
		// add the rpe load path line
		innersvg.append("path")
		.attr("class", "line")
		// assigning a unique id attribute
		.attr("id", "RPEScore")
		// setting the stroke width on the fly
		.attr("stroke-width", 1)
		.style("stroke", "black")
		.style("fill", "none")
		.attr("d", rpescoreline(data));
		
		// add the sleep line path
		innersvg.append("path")
			.attr("class", "line")
			// assigning a unique id attribute
			.attr("id", "Sleep")
			// setting the stroke width on the fly
			.attr("stroke-width", 1)
			.style("fill", "none")
			.attr("d", sleepline(data));
	
		// add the musclesoreness line path
		innersvg.append("path")
			.attr("id", "muscleSoreness")
			.style("stroke", "green")
			.style("fill", "none")
			.attr("d", musclesorenessline(data));
		
		// add the heart rate line path
		innersvg.append("path")
			.attr("id", "heartrate")
			.style("stroke", "orange")
			.style("fill", "none")
			.attr("d", heartrateline(data));
	}
	
	function re_draw_chart() {

		svg.selectAll("#PlayerLoad")
		.attr("d", playerloadline(data));
		
		svg.selectAll("#ACLoad")
		.attr("d", acuteloadline(data));
		
		svg.selectAll("#ChronicLoad")
		.attr("d", chronicloadarea(data));
		
		svg.selectAll("#ACCDECLoad")
		.attr("d", accdecloadline(data));
		
		svg.selectAll("#RPEScore")
		.attr("d", rpescoreline(data));
		
		svg.selectAll("#Sleep")
			.attr("d", sleepline(data));
	
		// add the musclesoreness line path
		svg.selectAll("#muscleSoreness")
			.attr("d", musclesorenessline(data));
		
		svg.selectAll("#heartrate")
		.attr("d", heartrateline(data));
		
		// update the x axis
		svg.selectAll("#xaxis")
		.call(xAxis);
		
	}
	
	var minN = d3.min(data, function (d) { return d.date; }).getTime(),
		maxN = d3.max(data, function (d) { return d.date; }).getTime();
	var minDate = new Date(minN - 8.64e7),
		maxDate = new Date(maxN + 8.64e7);
	
	var zoom = d3.behavior.zoom()
    .x(xScale)
    .on('zoom', function() {
    	
        if (xScale.domain()[0] < minDate) {
	    var x = zoom.translate()[0] - xScale(minDate) + xScale.range()[0];
            zoom.translate([x, 0]);
        } else if (xScale.domain()[1] > maxDate) {
	    var x = zoom.translate()[0] - xScale(maxDate) + xScale.range()[1];
            zoom.translate([x, 0]);
        }
        re_draw_chart();
    });
	
	
    
    // add the y axis
	svg.append("g")
		.attr("class", "y axis")
		.call(yAxis);
    
    // horizontal gridlines
	svg.append("g")			
	    .attr("class", "grid")
	    .call(make_gridline()
	        .tickSize(-width, 0, 0)
	        .tickFormat("")
	    )
	  
	// add a rectangle over the whole lot for zooming    
	svg.append('rect')
	    .attr('width', width)
	    .attr('height', height)
	    .attr("opacity", 0)
	    .call(zoom);
	

		var numButtons = 7;
		var buttonOffset = width/(numButtons + 1);
		
// <div id="linetogglebuttons" class="legend">hello</div>
		
		function drawButton(buttontext, buttonid, bordercolor, lineid, i, toggled){
			
			// turns the line associated with this button on or off according to toggled parameter
			d3.select("#"+lineid)
        	.style("opacity", function(d) { 
        		this.active = toggled;
        		return toggled ? 1 : 0;
        	})

			var abutton = svg.append("g")
			.attr("transform", "translate("+ (i * buttonOffset) + "," + (height + margin.top + 10) + ")");
			
			abutton.append("text")
			.attr("x", 10)             
		    .attr("y", 15)
		    .attr("fill", bordercolor)
	        .text(buttontext);
	        
			// get the width of the text and use it to tailor the width of the rect around it
 			var textWidth = abutton.select("text").node().getBBox().width;
			
			abutton.append("rect")
		    .attr("rx", 0)
		    .attr("ry", 10)
		    .attr("width", textWidth + 20)
	 	    .attr("height", 20)
		    .attr("class", "legend")
		    .attr("id", buttonid) 
		    .attr("cursor", "pointer")
		    .style("fill", "rgba(255,255,0,0.1)")
		    .style("stroke-width", toggled ? 2 : 0)
		    .style("stroke", toggled ? bordercolor : "grey")
		    .style("opacity", function(d) {
		    	this.active = toggled;
		     	//console.log(this.active);
		     	})
		    
		    
		    .on("click", function(){
		    	
		    	var isActive;
		        // Hide or show the line
		        d3.select("#"+lineid)
		        	.style("opacity", function(d) {
		        	// Toggle the active state
		        	//console.log(this.active);
		        	this.active = !this.active;
		        	isActive = this.active;
			        return	this.active ? 1 : 0;
		        })
		        
		        // update the buttons border
		        d3.select("#"+buttonid)
		        .style("stroke", isActive ? bordercolor : "grey")
		        .style("stroke-width", isActive ? 2 : 0)
		    	});
			
		} // end drawButton
		
		
		
		//special function to draw and control button for acute chronic load
		function drawACButton(buttontext, buttonid, bordercolor, lineid1, lineid2, i, toggled){
			
			// turns the line associated with this button on or off according to toggled parameter
			d3.select("#"+lineid1)
        		.style("opacity", function(d) { 
	        		this.active = toggled;
	        		return toggled ? 1 : 0;
        		})
        	d3.select("#"+lineid2)
	        	.style("opacity", function(d) { 
	        		this.active = toggled;
	        		return toggled ? 1 : 0;
	        	})

			var abutton = svg.append("g")
			.attr("transform", "translate("+ (i * buttonOffset) + "," + (height + margin.top + 10) + ")");
			
			abutton.append("text")
			.attr("x", 10)             
		    .attr("y", 15)
		    .attr("fill", bordercolor)
	        .text(buttontext);
	        
			// get the width of the text and use it to tailor the width of the rect around it
 			var textWidth = abutton.select("text").node().getBBox().width;
			
			abutton.append("rect")
		    .attr("rx", 0)
		    .attr("ry", 10)
		    .attr("width", textWidth + 20)
	 	    .attr("height", 20)
		    .attr("class", "legend")
		    .attr("id", buttonid) 
		    .attr("cursor", "pointer")
		    .style("fill", "rgba(255,255,0,0.1)")
		    .style("stroke-width", toggled ? 2 : 0)
		    .style("stroke", toggled ? bordercolor : "grey")
		    .style("opacity", function(d) {
		    	this.active = toggled;
		     	//console.log(this.active);
		     	})
		    
		    
		    .on("click", function(){
		    	
		    	var isActive;
		        // Hide or show the line
		        d3.select("#"+lineid1)
		        	.style("opacity", function(d) {
		        	// Toggle the active state
		        	//console.log(this.active);
		        	this.active = !this.active;
		        	isActive = this.active;
		        	
			        return	this.active ? 1 : 0;
		        })
		        
		       	d3.select("#"+lineid2)
		        	.style("opacity", function(d) {
		        	// Toggle the active state
		        	//console.log(this.active);
		        	this.active = !this.active;
		        	isActive = this.active;
		        	
			        return	this.active ? 1 : 0;
		        })
		        
		        // update the buttons border
		        d3.select("#"+buttonid)
		        .style("stroke", isActive ? bordercolor : "grey")
		        .style("stroke-width", isActive ? 2 : 0)
		    	});
			
		} // end drawACButton
		
		
		// combined a/c load button
		drawACButton("A:C WEEK LOAD", "ACLoad_Button", "red", "ACLoad", "ChronicLoad", 1, true);
		
		// a/c load button
		// drawButton("ACUTE LOAD", "ACUTELoad_Button", "red", "ACLoad", 1, true);
		
		// chronic load button
		// drawButton("Chronic LOAD", "Chronic_Button", "lightblue", "ChronicLoad", 2, true);
		
		// player daily load
		drawButton("SESSION LOAD", "PlayerLoad_Button", "purple", "PlayerLoad", 2, true);
		
		//acc/dec load button 	
		drawButton("ACC/DEC", "ACCDEC_Button", "blue", "ACCDECLoad", 3, false);
			
		// rpe score button
		drawButton("RPE SCORES", "RPE_Button", "black", "RPEScore", 4, false);
			
		// sleep button
		drawButton("SLEEP", "Sleep_Button", "steelblue", "Sleep", 5, false);
		
		// muscle soreness
		drawButton("MUS SOR", "MuscleSoreness_Button", "green", "muscleSoreness", 6, false);
		
		// heart rate
		drawButton("HR", "HR_Button", "orange", "heartrate", 7, false);

	
	// handling window resizing
	d3.select(window).on('resize', resize);
	
	function resize() {
		//console.log("resizing");
	    // update width
	    width = parseInt(d3.select('#chart').style('width'), 10);
	    console.log(width);
	    width = width - margin.left - margin.right;
	    
	    xScale.range([0, width]);
	    buttonOffset = width/(numButtons + 1);
	    //redrawbuttons();
	    re_draw_chart();
	    
	    d3.selectAll("#HR_Button").exit().remove();
	    
	}
	
});
	
// text label for the y axis
//svg.append("text")
//  .attr("transform", "rotate(-90)")
//  .attr("y", 0 - margin.left)
//  .attr("x",0 - (height / 2))
//  .attr("dy", "1em")
//  .style("text-anchor", "middle")
//  .text("Value");
	</script>




