#{extends 'main.html' /}
#{set title:player /}

<div class="container-fluid" id="outer_container" style="background-color: #FBFBFB">

<!-- insert the standard nav bar -->
#{navigationbar client:client, active:active, categories:categories/}


<div class="container-fluid" id="groupings_toggle_buttons">
	<div>
		#{list items:categories, as:'cat'}
			#{if category.equals(cat.name)}
	         			<a href="@{Application.record(player.playernumber, cat.name)}" class="badge active" style="background-color: white;"><span class="badge" style=" color: #337ab7; background-color:yellow;">${cat}</span></a>
	     	#{/if}
   			#{else}
   				<a href="@{Application.record(player.playernumber, cat.name)}" class="badge" style="background-color: white;"><span class="badge" style=" color: #337ab7; background-color: white;">${cat}</span></a>
   			#{/else}
	    #{/list}
	</div>
</div>
<!-- end  groupings_toggle_buttons -->

<div class="row" id ="player_carousel">
	  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><p class="text-center">
	  
	  <div class="btn-group btn-group-justified">
	   				
	   #{if players.size() > 5}				
	   				<a href="@{Application.record(players[(playerIndex - 4) % players.size()].playernumber, category)}" class="btn btn-default"  class="thumbnail" style="margin-bottom: 0px; border:none;">
						<div >
					
						</div>
						<div class="text-nowrap" style="text-align: center;">
							<<
						</div>
					</a>
		#{/if}
	  #{if players.size() > 5}
	  #{player_icon_small player:players[(playerIndex - 3) % players.size()], category:category, active:active /}
	  #{/if}
	  #{if players.size() > 3}
	  #{player_icon_small player:players[(playerIndex - 2) % players.size()], category:category, active:active /}
	  #{/if}
	  #{if players.size() > 1}
	  #{player_icon_small player:players[(playerIndex - 1) % players.size()], category:category, active:active /}
	  #{/if}		
	  </div>
	  </div>
	  
	  
	  
	  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><p class="text-center"></p>
	  			<h4 style="margin-bottom: 5px; margin-top:5px;">
	  			
					<a href="@{Application.record(player.playernumber)}" class="thumbnail" style="margin-bottom: 0px;">
						<div >
						#{if player.playerPhoto.exists()}
						<img class="img-responsive" src="@{Application.playerPhoto(player.id)}" alt="" style="margin: 0 auto; max-width:150px;height:150px"/>
						#{/if}
						#{else}
						<img class="img-responsive" src="@{'public/images/player-headshot.png'}" alt=${player.playername} style="margin: 0 auto; max-width:150px;height:150px"/>
						#{/else}
						
						</div>
						<div class="text-nowrap" style="text-align: center;">
							${player.playername}
							
						</div>
						
					</a>
<!-- 					<div class="text-center"> -->
<!-- 					#{list items:player.categories, as:'cat'} -->
<!-- 						#{if category.equals(cat.name)} -->
<!-- 		           			<a href="@{Application.index(player.playernumber, cat.name)}" class="badge active" style="background-color: white;"><span class="badge" style=" color: #337ab7; background-color:yellow;">${cat}</span></a> -->
<!-- 		       			#{/if} -->
<!-- 		       			#{else} -->
<!-- 		       				<a href="@{Application.index(player.playernumber, cat.name)}" class="badge" style="background-color: white;"><span class="badge" style=" color: #337ab7; background-color: white;">${cat}</span></a> -->
<!-- 		       			#{/else} -->
<!-- 	       			#{/list} -->
<!-- 				</div> -->
				</h4>
				
	  </div>
	  
	  
	  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><p class="text-center"></p>
	 
	 	<div class="btn-group btn-group-justified">
	 		
	#{if players.size() > 2}
	#{player_icon_small player:players[(playerIndex + 1) % players.size()], category:category, active:active /}
	#{/if}
	#{if players.size() > 4}
	#{player_icon_small player:players[(playerIndex + 2) % players.size()], category:category, active:active /}
	#{/if}
	#{if players.size() > 6}
	#{player_icon_small player:players[(playerIndex + 3) % players.size()], category:category, active:active /}
	#{/if}
	#{if players.size() > 6}
	<a href="@{Application.record(players[(playerIndex + 4) % players.size()].playernumber, category)}" class="btn btn-default" class="thumbnail" style="margin-bottom: 0px;  border:none;">
						
			<div class="text-nowrap" style="text-align: center;">
				>>
				
			</div>
						
	</a>
	#{/if}
	 	</div>
	 	
	  </div>
</div><!-- end div player carousel -->


<style>

.questionbox {
	border:1px solid #cecece; 
	border-radius: 20px; 
	margin:20px; 
	box-shadow: 0px 0px 10px grey;
}

#mainquestion {
  border: 1px solid #cecece;
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-between; /* Safari 6.1+ */
  display: flex;
  justify-content: space-between;
}

#mainquestion div {
   width: auto; 
  height: auto;
}

.label {
    display: inline-block;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

</style>

<ul class="nav nav-tabs nav-justified">
#{if questioncategories.size() > 0}

	#{list items:questioncategories, as:'qcs'}
	#{if qcs_isFirst}
	  <li class="active">
	  	<a href="@{Application.record(player.playernumber, category, qcs.name)}" style="max-width: 700px;">${qcs.name}</a>
	  </li>
	  #{/if}
	  #{else}
	  <li>
	  <a href="@{Application.record(player.playernumber, category, qcs.name)}" style="max-width: 700px;">${qcs.name}</a>
	  </li>
	  #{/else}
	  
	#{/list}
#{/if}

</ul>


#{form @Application.saveQuestionnaire(player.playernumber)}
<div class="questionbox" id="mainquestion" style="background-color: white;">

#{list items:categoryquestions, as:'q'}

  <div class="questionbox" style="background-color:#FBFBFB; align-content:center;">
  <p style="text-align: center;">${q.question}?</p>
  <br>

  	#{field 'answer'}
		  #{list items:q.answers, as:'a'}
		  	<label class="btn btn-default" class="label" data-toggle="buttons" style="width:300px; max-width:200px; margin:10px;">
				<input type="radio" name="an${a}" value="${a.id}"> 
				<p>${a.answer}</p>
			</label>
			<br>
		  #{/list}
	  #{/field}
  </div>
  
 #{/list}
</div>
  <!-- the submit button -->
<button class="btn btn-lg btn-primary btn-block" type="submit">Save answers</button>
#{/form}



<p>
  <label for="nRadius" 
         style="display: inline-block; width: 240px; text-align: right">
         radius = <span id="nRadius-value">…</span>
  </label>
  <input type="range" min="0" max="5" id="nRadius" style="background-color:red">
</p>

<script>

var width = 600;
var height = 300;
 
var holder = d3.select("body")
      .append("svg")
      .attr("width", width)    
      .attr("height", height); 

// draw the circle
holder.append("circle")
  .attr("cx", 300)
  .attr("cy", 150) 
  .style("fill", "none")   
  .style("stroke", "blue") 
  .attr("r", 1);

// when the input range changes update the circle 
d3.select("#nRadius").on("input", function() {
  update(+this.value);
});

// Initial starting radius of the circle 
update(1);

// update the elements
function update(nRadius) {

  // adjust the text on the range slider
  d3.select("#nRadius-value").text(nRadius);
  d3.select("#nRadius").property("value", nRadius);

  // update the circle radius
  holder.selectAll("circle") 
    .attr("r", nRadius*10);
}

</script>



</div>
<!-- end outer container -->

<!-- 		   #{form @Application.saveQuestionnaire(player.playernumber)} -->
		      
<!-- 		      #{list items:player.questions, as:'q'} -->
<!-- 		      	question 1 -->
<!-- 		      	<div class="container-fluid"> -->
<!-- 		      	<h3>${q.question}${q.questioncategories.name}</h3> -->
		      	
<!-- 					  <div class="btn-group btn-group-justified" data-toggle="buttons"> -->
<!-- 					  #{field 'answer'} -->
<!-- 					    #{list items:q.answers, as:'a'} -->
					    
<!-- 						    <label class="btn btn-default"> -->
<!-- 	    						<input type="radio" name="an${a}" value="${a.id}">  -->
<!-- 	    						${a.answer} -->
<!-- 	  						</label> -->
		      			
<!-- 		      			#{/list} -->
<!-- 		      			#{/field} -->
<!-- 					  </div> -->
<!-- 					  <br> -->
<!-- 					</div> -->
					
<!-- 		      #{/list} -->
		      
<!-- 		      the submit button -->
<!-- 		      <button class="btn btn-lg btn-primary btn-block" type="submit">Save answers</button> -->
<!-- 		      #{/form} -->