*{ Display the footer}*

<!-- footer -->
<div class="container-fluid">
	<nav class="navbar navbar-inverse navbar-fixed-bottom">

		<ul class="nav navbar-nav"
			style="padding-top: 0px; padding-bottom: 0px;">
			<li><a href="#">nameLess App</a></li>
			<li><a href="#">v${play.Play.configuration.getProperty("app.version", "1.2")}</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right"
			style="padding-top: 0px; padding-bottom: 0px;">
			<li><a href="http://www.orreco.com/" class="pull-right" target="_blank">&copy;
					${org.joda.time.DateTime.now().year().getAsText()} ORRECO</a></li>
		</ul>
	</nav>
</div>