*{ Display a player in one of these modes: 'full', 'home' or 'summary' }*
 
<div class="post ${_as == 'summary' ? 'summary' : ''}">
    <h2 class="post-title">
        <a href="#">${_player.playername}</a>
    </h2>
    <div class="post-metadata">
        <span class="post-author">Player no. ${_player.playernumber}</span>,
        <span class="post-date"> since ${_player.dateadded.format('dd MMM yy')}</span>
        #{if _as != 'full'}
            <span class="post-comments">
                &nbsp;|&nbsp; ${_player.gpsdata.size() ?: 'no'} 
                datapoint${_player.gpsdata.size().pluralize()} ->
                #{if _player.gpsdata}
                     latest at ${_player.gpsdata[-1].dataDate.format('dd MMM')}
                #{/if}
            </span>
        #{/if}
    </div>
    #{if _as != 'summary'}
        <div class="post-content">
            <div class="about">Details: </div>
            Player details will go here.....
        </div>
    #{/if}
</div>
 
#{if _as == 'full'}
    <div class="comments">
        <h3>
            ${_player.gpsdata.size() ?: 'no'} 
            datapoint${_player.gpsdata.size().pluralize()} :
        </h3>
        
        #{list items:_player.gpsdata, as:'gps'}
            <div class="comment">
                <div class="comment-metadata">
                    <span class="comment-author">by ${gps.playerIdentityNo},</span>
                    <span class="comment-date">
                        ${gps.dataDate.format('dd MMM')}
                    </span>
                </div>
                <div class="comment-content">
                    <div class="about">Detail: </div>
                    ${gps.tT_Time}
                </div>
            </div>
        #{/list}
        
    </div>
#{/if}