*{ Display a player in one of these modes: 'full', 'home' or 'summary' }*
 
<div class="player ${_as == 'summary' ? 'summary' : ''}">
    <h2 class="player-name">
        <a href="@{Application.show(_player.id)}">${_player.playername}</a>
    </h2>
    <div class="player-metadata">
        <span class="player-number">Player no. ${_player.playernumber}</span>,
        <span class="player-date"> since ${_player.dateadded.format('dd MMM yy')}</span>
        #{if _as != 'full'}
            <span class="player-comments">
                &nbsp;|&nbsp; ${_player.gpsdata.size() ?: 'no'} 
                datapoint${_player.gpsdata.size().pluralize()} ->
                #{if _player.gpsdata}
                     latest at ${_player.gpsdata[-1].dataDate.format('dd MMM')}
                #{/if}
            </span>
        #{/if}
    </div>
    #{if _as != 'summary'}
        <div class="player-content">
            <div class="about">Details: </div>
            Player details will go here.....
        </div>
    #{/if}
</div>
 
#{if _as == 'full'}
    <div class="gpsdatas">
<!--     <img src="${_player.playerPhoto.get()}" height="180" width="180" /> -->
        <h3>
            ${_player.gpsdata.size() ?: 'no'} 
            datapoint${_player.gpsdata.size().pluralize()} :
        </h3>
        
        #{list items:_player.gpsdata, as:'gps'}
            <div class="gpsdata">
                <div class="gpsdata-metadata">
                    <span class="gpsdata-author">${gps.dataDate.format('dd MMM')}</span>
                   
                </div>
                <div class="gpsdata-metadata">
                    <div class="about">Detail: </div>
                    ${gps.tT_Time}
                </div>
            </div>
        #{/list}
        
    </div>
#{/if}